{{ define "main" }}

<h1>owencampbell.me.uk/:~#</h1>

<p>
Hi, I'm Owen. I'm a consulting software engineer.
</p>

<p>
I help organisations build software for parts of their business that are unique to them - areas where off-the-shelf solutions don't work.
</p>

<p>
<a href="https://github.com/meatballs">GitHub</a> / 
<a href="https://linkedin.com/in/owencampbell">LinkedIn</a>
</p>

<br/>

<h1>Latest posts</h1>

<p><a href="/posts/index.xml">📡 Subscribe via RSS</a></p>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
